@import "@styles/vars.scss";

.page{
  position: relative;
  max-width: 1700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #FFF7DF;

}

.nav.nav {
  position: fixed;
  width: 100vw;
  max-width: 1700px;
  z-index: 99;
  height: 64px;
  // background: linear-gradient(180deg,
  //     rgba(0, 0, 0, 0.5) 3.72%,
  //     rgba(0, 0, 0, 0) 94.33%);

  @media screen and (min-width: 1700px) {
    margin-left: calc((100% - 1700px) / 2);
  }
}

.container {
  position: relative;
  margin-top: 166px;
  padding: 0 24px 48px;
  // max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  @media #{$not-touch} {
    padding: 0 64px 48px;
  }
}
.title {
  color: #000;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.92px;
  @media #{$touch} {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
.para {
  color: #5D5D66;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: 32px;
  @media #{$not-touch} {
    font-size: 20px;
    margin-bottom: 48px;
  }
}
ul.para {
  padding-left: 16px;
  li {
    margin-bottom: 8px;
  }
}
.header {
  margin-top: 12px;
  color: #5D5D66;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 12px;
  @media #{$not-touch} {
    font-size: 28px;
  }
}

