@import "@styles/vars.scss";

.footer {
  @media #{$touch} {
    display: none;
  }
}
.band {
  height: 40px;
  width: 100%;
  background: #ffca10;
  margin-bottom: 80px;
}
.container {
  display: flex;
}
.join {
  width: 50%;
}
.linkRow {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  gap: 40px;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 600px;
  .link {
    color: #ffca10;
    text-decoration-color: #ffca10;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
}
.msg {
  color: #ffca10;
  text-align: right;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 60px;

  span {
    display: block;
  }
}
.msgBox {
  position: relative;
  &::after {
    content: "";
    top: 48px;
    left: 0;
    width: calc(100% - 340px);
    height: 4px;
    position: absolute;
    background-color: #ffca10;
  }
}
.contact {
  padding-left: 106px;
  a {
    text-decoration: none;
  }
}
.learnInfo {
  max-width: 520px;
  width: 100%;
  color: #ffca10;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.15px;
  margin-bottom: 38px;
}
.socialBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #664e12;
}
.socialLabel {
  color: #ffca10;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.15px;
}
.socialValue {
  color: #664e12;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0.2px;

  a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:visited {
      color: inherit;
    }
  }
}
.partnerBox {
  border-radius: 12px;
  border: 1px solid #ffca10;
  padding: 24px 28px 16px;
  margin: 0 24px 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 116px;

  .tag {
    position: absolute;
    color: #ffca10;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.15px;
    top: -10px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 0 6px;
  }
}
.bankBox {
  display: flex;
  align-items: center;
  gap: 64px;
}
