@import "@styles/vars.scss";

.animation {
    width: 180px;
    height: 79px;
}

.mainContent{
    padding: 0px 108px;
    @media #{$xs-xl} {
        padding: 0px 24px 80px;
      }
}


.container{
    background-color: #6158FF;
    height: 100%;
    padding: 56px 0px 205px;
    display: block;
    position: relative;
    @media #{$xs-xl} {
        padding: 0px 0px 80px;
      }
}

.heading{
    color: var(--card-surface, #F8F7FE);
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.92px;
display: flex;
flex-direction: column;
margin-bottom: 21px;
position: relative;
z-index: 2;
}

.subContent{
    color: var(--shadow-00, #FFF);
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 43px;
position: relative;
z-index: 2;
}

.hideBorder{
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #6158FF;
    top: -2px;
}

.progress_image{
    width: 790px;
    height: 88px;
}

.number{
    color: #000;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: absolute;
top: 10px;
right: 30px;
}

.progress_bar_container{
    position: relative;
}

.inflation_img{
    width: 128px;
height: 285px;
}

.inflation{
    position: absolute;
    top: 0px;
    right: 40px;
}

.banner_2{
    margin-top: 45px;
    display: flex;
    align-items: flex-start;
}

.progress_image{
    width: 250px;
height: 88px;
}

.progress_bar_container_2{
    position: relative;
    width: fit-content;
}

.banner_2_fixed{
    border-radius: 2px;
border: 3px dashed #4C43FF;
opacity: 0.3;
background: #726AFF;
width: 470px;
height: 72px;
flex-shrink: 0;
}

.ornament2 {
    top: 20%;
    left: -86px;
    opacity: 1;
    position: absolute;
  
    @media screen and (max-width: 1600px) {
      width: 196px;
    }
  
    @media screen and (max-width: 1400px) {
      width: 196px;
    }
  

  }
  
  .ornament5 {
    right: 0;
    top: 20%;
    opacity: 1;
    position: absolute;
  
    @media screen and (max-width: 1400px) {}
  
 
  }