@import "@styles/vars.scss";

.animation {
    width: 83px;
    height: 40px;
}

.mainContent{
    padding: 0px 24px;
}


.container{
    background-color: #6C63FF;
    height: 100%;
    padding: 56px 0px 83px;
    display: block;
    position: relative;
}

.heading{
    color: var(--card-surface, #F8F7FE);
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.8px;
display: flex;
flex-direction: column;
margin-bottom: 21px;
position: relative;
z-index: 2;
}

.subContent{
    color: var(--shadow-00, #FFF);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 21px;
position: relative;
z-index: 2;
}

.hideBorder{
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #6C63FF;
    top: -2px;
}

.progress_image{
    width: 281px;
    height: 46px;
}

.number{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
position: absolute;
top: 15%;
right: 10px;
}

.progress_bar_container{
    position: relative;
}

.inflation_img{
    width: 64px;
height: 142px;
}

.inflation{
    position: absolute;
    top: 0px;
    right: 20px;
}

.banner_2{
    margin-top: 21px;
    display: flex;
    align-items: flex-start;
}

.progress_image{
    width: 250px;
height: 46px;
}

.progress_bar_container_2{
    position: relative;
    width: fit-content;
}

.banner_2_fixed{
    border-radius: 2px;
border: 3px dashed #4C43FF;
opacity: 0.3;
background: #726AFF;
width: 178px;
height: 36px;
flex-shrink: 0;
}

.ornament2 {
    top: 30%;
    left: -86px;
    opacity: 0;
    position: absolute;
  
    @media screen and (max-width: 1600px) {
      width: 196px;
    }
  
    @media screen and (max-width: 1400px) {
      width: 196px;
    }
  
    &.animateOrnament2 {
      top: 30%;
      left: -86px;
      opacity: 1;
    }
  }
  
  .ornament5 {
    right: 0;
    top: 30%;
    opacity: 0;
    position: absolute;
  
    @media screen and (max-width: 1400px) {}
  
    &.animateOrnament5 {
      right: 0px;
      top: 30%;
      opacity: 1;
    }
  }