.baseBand {
  display: flex;
  font-style: italic;
  align-items: center;
  gap: 18px;
  letter-spacing: 0.367px;
  line-height: 1.36;
  height: 72px;
  font-size: 44px;
  width: fit-content;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.band {
  background: #3f008e;
  color: #ffca10;
  bottom: 0;
  transform: translateX(-50%) rotate(-5deg);
  left: 50%;

  span {
    width: 680px;
    display: block;
    flex-shrink: 0;
    line-height: 1;
  }
}
.container {
  overflow: hidden;
  height: 400px;
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 4px;
}
