.container {
  background: #ffbb0b;
  overflow: hidden;
  height: 110vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 1000px;
  max-height: 1200px;
  z-index: 6;
}
.bg {
  height: 80%;
  position: absolute;
  top: 10%;
  left: 0;
  object-fit: contain;
}
.title {
  color: #010101;
  text-align: right;
  font-size: 64px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 12px;
  position: relative;
  z-index: 4;
  span {
    display: block;
  }
}
.description {
  color: #010101;
  text-align: right;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  z-index: 4;
}

.box {
  position: relative;
  width: 100%;
  &::after {
    position: absolute;
    content: "";
    top: -150px;
    left: 0;
    height: 80vh;
    background-color: #ffbb0b;
    width: 150vw;
    transform: rotate(-5deg);
    z-index: 4;
  }
}
