.baseBand {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
  height: 80px;
  position: absolute;

  span {
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
    flex-shrink: 0;
    display: block;
    top: 4px;
    position: relative;
  }
}
.container {
  overflow: hidden;
  height: 400px;
  position: relative;
}
.india {
  background: #3f008e;
  bottom: 0;
  transform: translateX(-50%) rotate(-10deg) translateY(-182px);
  left: 50%;
  span {
    color: #ffca10;
  }
}
.introducing {
  background: #27003a;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(10deg) translateY(-182px);
  span {
    color: #743511;
  }
}
