// .container{
//     padding-left: 20px;
//     padding-right: 20px;
// }

// .accordianHeader{
//     color: #FFF;
//     font-size: 28px;
//     font-style: normal;
//     font-weight: 600;
//     line-height: 40px; /* 142.857% */
//     letter-spacing: 0.2px;
// }

// .accordianItem{
//     color: var(--neutral-400, #9E9EA3);
//     font-size: 18px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 26px; /* 141.667% */
//     letter-spacing: 0.2px;
//     padding-bottom: 28px;
//     padding-top: 28px;
//     border-bottom: 2px solid #38383D;
// }

// .header{

// }

// .itemBtn {
//     cursor: pointer;
//     display: flex;
//     align-items: center;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     text-align: left;
//     background-color: transparent;
//     border: none;
//     color: #FFF;
// font-size: 20px;
// font-style: normal;
// font-weight: 600;
// line-height: 28px; /* 142.857% */
// letter-spacing: 0.2px;
//   }

//   .itemBtnExpanded{
//     margin-bottom: 12px;
//   }

//   .accordionItemHeader{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//   }
  
//   .appbar{
//     background: linear-gradient(92deg, #00F05C 2.88%, #AEFF51 58.68%, #00FF62 99.09%);
// background-clip: text;
// -webkit-background-clip: text;
// -webkit-text-fill-color: transparent;
// text-shadow: 0px 1px 8px rgba(27, 219, 101, 0.40);
// font-size: 32px;
// font-style: italic;
// font-weight: 800;
// line-height: normal;
// letter-spacing: 1px;
// text-align: center;
// margin-top: 122px;
// margin-bottom: 20px;
// display: flex;
// flex-direction: column;
// align-items: center;
//   }

@import "@styles/vars.scss";
.container{
  // background-color: #FFF7DF;
}

.accordianHeader{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 142.857% */
    letter-spacing: 0.2px;
}

.accordianItem{
    color: var(--neutral-400, #9E9EA3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 141.667% */
    letter-spacing: 0.2px;
    padding: 32px 28px;
    border: 2px solid #252529;
    margin-bottom: 40px;
    background-color: #F8F7FE;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.header{

}

.itemBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #252529;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 142.857% */
letter-spacing: 0.2px;
  }

  .itemBtnExpanded{
    margin-bottom: 12px;
  }

  .accordionItemHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    gap: 12px;
    // transition: color 0.3s ease;
  }
  
  .appbar{
    color: #000;
    // font-family: "Bricolage Grotesque", serif;
font-size: 40px;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-align: left;
margin-bottom: 40px;
  }

  .accordionContent {
    max-height: 2000px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out, padding 0.25s ease-out;
    padding: 0;
    // display: none; /* Initially hidden */
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .accordianItem[aria-expanded='true'] .accordionContent {
    max-height: 2000px;
    padding: 16px 0; /* Add padding for open state */
  }

.wrapper {
   padding: 56px 24px;
  background-color: #FFF7DF;
}

.animation{
   width: 100px;
   height: 40px;
}