.container {
  position: relative;
  padding-top: 80px;
}
.nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  background: linear-gradient(
    174deg,
    rgba(0, 0, 0, 0.5) 3.72%,
    rgba(0, 0, 0, 0) 94.33%
  );
}
