@import "@styles/vars.scss";


.logoContainer{
    position:fixed;
    top:40px;
    left:64px;
    z-index: 1000;
    mix-blend-mode:difference; 
    @media #{$xsmall}  {
       left: 24px;
      }
      @media screen and (min-width:1840px) {
        left: calc((100% - 1660px)/2);
      }
    
}

.newLogo{
    width: 149.2px;
  height: 46px;
  position: relative;
  z-index: 2;
  @media #{$xsmall}  {
    width: 88px;
    height: 28px;
  }
  }