.container {
  background: #180036;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  position: relative;
  padding-top: 120px;
  scroll-snap-align: center;
}
.bg {
  width: 572.08px;
  height: 643.575px;
  left: 0;
  top: 211px;
  position: absolute;
  transform: rotate(-26deg);
}
.title {
  color: #ffca10;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 12px;
  span {
    display: block;
  }
}
.description {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
