.container {
  background: #180036;
  overflow: hidden;
  height: 100vh;
  position: relative;
  z-index: 4;
  min-height: 950px;
  max-height: 1000px;
}
.title {
  background: linear-gradient(92deg, #00F05C 2.88%, #AEFF51 58.68%, #00FF62 99.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 24px;
  position: relative;
  z-index: 100;
  letter-spacing: 2px;
  transition: all 0.3s ease-out;
  transition-delay: 0.7s;
  opacity: 0;
  &.finalTitle {
    opacity: 1;
  }
  @media screen and (max-width: 1600px) {
  }
  @media screen and (max-width: 1400px) {
    font-size: 56px;
    padding-left: 0;
    padding-top: 250px;
  }
  span {
    display: block;
  }
}
.description {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  position: relative;
  z-index: 100;
  transition: all 0.3s ease-out;
  transition-delay: 0.7s;
  opacity: 0;
  margin-bottom: 37px;
  &.finalDescription {
    opacity: 1;
  }
  @media screen and (max-width: 1600px) {
  }
  @media screen and (max-width: 1400px) {
    font-size: 28px;
    padding-left: 0;
  }
}
.bg {
  width: 1700px;
  height: 896px;
  bottom: 100px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-out;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  &.finalBg {
    opacity: 1;
  }
  @media screen and (max-width: 1400px) {
    bottom: 150px;
  }
}
.img {
  width: 484px;
  height: 706px;
  position: relative;
  top: 0;
  // right: 300px;
  bottom: 0;
  z-index: 5;
  transition: all 0.3s ease-out;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  &.finalImg {
    opacity: 1;
  }
  @media screen and (max-width: 1600px) {
    width: 484px;
    height: 706px;
    top: 50px;
  }
  @media screen and (max-width: 1400px) {
    width: 484px;
    height: 706px;
    top: 100px;
  }
}
.box {
  position: relative;
  width: 100%;
  // &::after {
  //   position: absolute;
  //   content: "";
  //   top: -150px;
  //   left: 50%;
  //   height: 500px;
  //   background-color: #180036;
  //   width: 150vw;
  //   transform: translateX(-50%) rotate(-5deg);
  //   z-index: 3;
  // }
}
.ornament1,
.ornament2,
.ornament3,
.ornament4 {
  position: absolute;
  transition: all 0.6s cubic-bezier(0, 0, 0.09, 0.99);
  transition-delay: 0.3s;
  opacity: 0;
  transform: translateY(100px);
}
.ornament4 {
  width: 194.519px;
  height: 194.519px;
  left: 35%;
  bottom: 300px;
  z-index: 99;
  @media screen and (max-width: 1600px) {
    height: 168px;
    width: 168px;
    left: 42%;
    bottom: 350px;
  }
  @media screen and (max-width: 1400px) {
    width: 160px;
    height: 160px;
  }
}
.ornament3 {
  width: 238.517px;
  height: 238.517px;
  left: 45%;
  z-index: 99;
  top: 200px;
  @media screen and (max-width: 1600px) {
    height: 206px;
    width: 206px;
    left: 50%;
    top: 150px;
  }
  @media screen and (max-width: 1400px) {
    width: 184px;
    height: 184px;
    top: 300px;
  }
}
.ornament2 {
  width: 206.097px;
  height: 206.097px;
  right: 100px;
  z-index: 99;
  bottom: 500px;
  @media screen and (max-width: 1600px) {
    width: 178px;
    height: 178px;
  }
  @media screen and (max-width: 1400px) {
    width: 184px;
    height: 184px;
  }
}
.ornament1 {
  width: 248.715px;
  height: 248.715px;
  top: -100px;
  right: 100px;
  z-index: 5;
  @media screen and (max-width: 1600px) {
    width: 214px;
    height: 214px;
    right: 150px;
    top: -50px;
  }
  @media screen and (max-width: 1400px) {
    width: 192px;
    height: 192px;
    top: 25px;
    right: 170px;
  }
}

.finalOrnament4,
.finalOrnament3,
.finalOrnament2,
.finalOrnament1 {
  transform: translateY(0px);
  opacity: 1;
}
.float {
  animation-name: Floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.9s;
}

@keyframes Floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 40px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.contentContainer{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.titleContainer{
  margin-right: 100px;
  text-align: left;
  position: relative;
  bottom: 20px;
}