.container {
  height: 500px;
  margin-bottom: 76px;
  border-bottom: 8px solid #ffca10;
  position: relative;
  margin-top: 80px;
  &::after {
    content: "";
    top: -72px;
    left: 0;
    background: linear-gradient(180deg, #180036 0%, rgba(24, 0, 54, 0) 100%);
    width: 100%;
    height: 155px;
    position: absolute;
  }
}
.imgBox {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.img {
  position: absolute;
  top: -27px;
  left: -342px;
  object-fit: cover;
  aspect-ratio: 168 / 103;
  width: 882px;
  height: 539px;
}
.title {
  position: absolute;
  z-index: 10;
  top: -70px;
  span {
    display: block;
  }
  .imp {
    color: #ffca10;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
  }
  .content {
    color: #ffca10;
    font-size: 44px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.96px;
  }
}
