.title {
  color: #ffca10;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  z-index: 2;
  span {
    display: block;
  }
}
.img {
  width: 372px;
  height: 333px;
  position: absolute;
  bottom: 147px;
  right: -36px;
}
.bg {
  width: 554px;
  height: 446px;
  position: absolute;
  top: 255px;
  right: 17px;
  z-index: 0;
}
.container {
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  position: relative;
  scroll-snap-align: center;
}
.para {
  color: white;
  font-weight: 500;
  font-size: 20px;

  span {
    display: block;
  }
}
.container {
  padding-left: 24px;
}
