.title {
  color: #010101;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  z-index: 2;
  position: relative;
  z-index: 4;
  span {
    display: block;
  }
}
.img {
  position: absolute;
  bottom: 50px;
  right: -68px;
  width: 510px;
  height: 437px;
  object-fit: contain;
  z-index: 0;

  @media screen and (min-height: 700px) {
    width: 140%;
    bottom: 0;
    right: -73px;
    height: unset;
  }
}
.container {
  overflow: hidden;
  height: 110vh;
  height: 110svh;
  position: relative;
}
.para {
  color: #010101;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  z-index: 4;
  padding-left: 22px;

  span {
    display: block;
  }
}
.container {
  padding-left: 24px;
  height: 100vh;
  padding-top: 0px;
  background-color: #ffbb0b;
  z-index: 2;
  position: relative;
}
.box {
  position: relative;
  width: 100%;
  &::after {
    position: absolute;
    content: "";
    top: -22px;
    left: 0;
    height: 600px;
    background-color: #ffbb0b;
    width: 150vw;
    transform: rotate(-10deg) translateY(-10%);
    @media screen and (min-width: 360px) {
      top: -26px;
    }
  }
}
