.title {
  color: #ffca10;
  font-size: 40px;
  font-weight: 700;
  span {
    display: block;
  }
}
.para {
  color: white;
  font-weight: 500;
  font-size: 20px;

  span {
    display: block;
  }
}
.container {
  padding-left: 24px;
}
