.container {
  height: 110vh;
  overflow: hidden;
  position: relative;
  padding-left: 100px;
  background-color: #ffbb0b;
  z-index: 2;
  min-height: 1000px;
  max-height: 1200px;
}
.ornament1,
.ornament2,
.ornament3 {
  position: absolute;
}
.ornament1 {
  top: 100px;
  right: 30%;
}
.ornament3 {
  bottom: 200px;
  right: 20px;
}
.ornament2 {
  bottom: 250px;
  left: 40%;
}
.bg {
  position: absolute;
  object-fit: contain;
  bottom: 100px;
  right: 0;
  width: 1361px;
  height: 996px;
}
.title {
  span {
    display: block;
  }
  color: #010101;
  font-size: 76px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 16px;
  position: relative;
  z-index: 3;
}
.para {
  span {
    display: block;
  }
  color: #010101;
  font-size: 28px;
  font-weight: 500;
  position: relative;
  z-index: 3;
}
ul.para {
  padding-left: 30px;
}
.img {
  width: 886px;
  height: 793px;
  position: absolute;
  bottom: 200px;
  right: 0;
}
.box {
  position: relative;
  width: 100%;
  &::after {
    position: absolute;
    content: "";
    top: -150px;
    left: 0;
    height: 80vh;
    background-color: #ffbb0b;
    width: 150vw;
    transform: rotate(-5deg);
  }
}
