.container {
  height: 110vh;
  overflow: hidden;
  position: relative;
  padding-left: 100px;
  background-color: #ffbb0b;
  z-index: 2;
  min-height: 1000px;
  max-height: 1000px;
  @media screen and (max-width: 1600px) {
    padding-left: 150px;
  }
  @media screen and (max-width: 1400px) {
    padding-left: 100px;
  }
}
.ornament1,
.ornament2,
.ornament3 {
  position: absolute;
}
.ornament1 {
  top: 100px;
  right: 30%;
  @media screen and (max-width: 1600px) {
    width: 120px;
  }
  @media screen and (max-width: 1400px) {
    width: 105px;
  }
}
.ornament3 {
  bottom: 200px;
  right: 20px;
  @media screen and (max-width: 1600px) {
    width: 120px;
  }
  @media screen and (max-width: 1400px) {
    width: 105px;
  }
}
.ornament2 {
  bottom: 250px;
  left: 40%;
  @media screen and (max-width: 1600px) {
    width: 120px;
  }
  @media screen and (max-width: 1400px) {
    width: 105px;
  }
}
.bg {
  position: absolute;
  object-fit: contain;
  bottom: 100px;
  right: 0;
  width: 1361px;
  height: 996px;
}
.title {
  span {
    display: block;
  }
  color: #010101;
  font-size: 76px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 16px;
  position: relative;
  z-index: 3;
  margin-top: 50px;
}
.para {
  span {
    display: block;
  }
  color: #010101;
  font-size: 28px;
  font-weight: 500;
  position: relative;
  z-index: 3;
}
ul.para {
  padding-left: 30px;
}
.img {
  width: 886px;
  height: 793px;
  position: absolute;
  bottom: 150px;
  right: 0;
  @media screen and (max-width: 1400px) {
    width: 786.295px;
    right: -50px;
  }
}
.box {
  position: relative;
  width: 100%;
  &::after {
    position: absolute;
    content: "";
    top: -105px;
    left: 50%;
    height: 500px;
    background-color: #ffbb0b;
    width: 4500px;
    transform: translateX(-50%) rotate(-5deg);
  }
}
